In [5]:
import pandas as pd 
import numpy as np
import sklearn

In [2]:
df = pd.read_csv('preprocessing.csv')

In [3]:
df

    id   ira  atendimento  media  final
0    5  3.50         80.0   83.0   85.0
1    6  2.67         70.0   74.0   74.0
2    7  3.10         73.0   64.0   77.0
3    8  3.80         85.0   88.0   88.0
4    9  4.00         98.0   92.0   98.0
5   10  3.30         75.0   68.0   88.0
6   11  1.80         65.0   55.0   66.0
7   12   NaN          NaN    NaN    NaN
8   13   NaN          NaN    NaN    NaN
9   14  2.40         65.0   65.0   64.0
10  15  3.60         78.0   78.0   81.0

In [3]:
df.isna().sum()

id             0
ira            2
atendimento    2
media          2
final          2
dtype: int64

In [7]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(fill_value=np.nan, strategy='mean')
X = imputer.fit_transform(df)

In [8]:
X = pd.DataFrame(X, columns=df.columns)
print(X)

      id   ira  atendimento      media      final
0    5.0  3.50    80.000000  83.000000  85.000000
1    6.0  2.67    70.000000  74.000000  74.000000
2    7.0  3.10    73.000000  64.000000  77.000000
3    8.0  3.80    85.000000  88.000000  88.000000
4    9.0  4.00    98.000000  92.000000  98.000000
5   10.0  3.30    75.000000  68.000000  88.000000
6   11.0  1.80    65.000000  55.000000  66.000000
7   12.0  3.13    76.555556  74.111111  80.111111
8   13.0  3.13    76.555556  74.111111  80.111111
9   14.0  2.40    65.000000  65.000000  64.000000
10  15.0  3.60    78.000000  78.000000  81.000000

In [12]:
dropedDf = df.dropna()

In [13]:
dropedDf.isna().sum()

id             0
ira            0
atendimento    0
media          0
final          0
dtype: int64

In [51]:
paises = pd.read_csv('preprocessingPaises.csv')

In [52]:
paises

             pais   populacao      area
0           China  1402509320   9596961
1           India  1361865555   3287590
2  Estados Unidos   329634908   9371174
3       Indonesia   266911900   1904569
4       Paquistao   220892311    796095
5          Brasil   211482342   8515767
6         Nigeria   206139587   1267000
7      Bangladesh   168557578    143998
8          Russia   146745098  17098246
9          Mexico   126577691   1964375

In [53]:
from sklearn.preprocessing import LabelEncoder

l1 = LabelEncoder()
l1.fit(paises['pais'])
paises.pais = l1.transform(paises.pais)

print(paises)

   pais   populacao      area
0     2  1402509320   9596961
1     4  1361865555   3287590
2     3   329634908   9371174
3     5   266911900   1904569
4     8   220892311    796095
5     1   211482342   8515767
6     7   206139587   1267000
7     0   168557578    143998
8     9   146745098  17098246
9     6   126577691   1964375

In [54]:
from sklearn.preprocessing import minmax_scale
from sklearn.preprocessing import scale

In [55]:
paises = pd.read_csv('preprocessingPaises.csv')

In [56]:
cols = list(paises.columns)

In [57]:
cols.remove('pais')

In [58]:
paises_amp = paises.copy()
paises_amp[cols] = paises[cols].apply(minmax_scale)

In [59]:
paises_dist = paises.copy()
paises_dist[cols] = paises[cols].apply(scale)

In [61]:
paises_amp

             pais  populacao      area
0           China   1.000000  0.557557
1           India   0.968146  0.185416
2  Estados Unidos   0.159144  0.544240
3       Indonesia   0.109986  0.103842
4       Paquistao   0.073918  0.038462
5          Brasil   0.066543  0.493786
6         Nigeria   0.062356  0.066237
7      Bangladesh   0.032901  0.000000
8          Russia   0.015806  1.000000
9          Mexico   0.000000  0.107370

In [62]:
paises_dist

             pais  populacao      area
0           China   2.028995  0.802343
1           India   1.942947 -0.402278
2  Estados Unidos  -0.242403  0.759235
3       Indonesia  -0.375194 -0.666333
4       Paquistao  -0.472623 -0.877969
5          Brasil  -0.492545  0.595916
6         Nigeria  -0.503856 -0.788061
7      Bangladesh  -0.583422 -1.002471
8          Russia  -0.629601  2.234532
9          Mexico  -0.672298 -0.654914